<nav class="nav">
 <h1>E-COMM</h1>
 <div *ngIf="menuType==='user'" class="search-box">
    <input #searchButton class="form-control" type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for products">
    <button (click)="submitSearch(searchButton.value)">Search</button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult" (mouseDown)="redirectToProduct(item.id)"> {{item.productName}}</li>
    </ul>
 </div>
 <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="user-auth">SignUp/Login</a></li>
        <li><a href="#">cart({{cartItem}})</a></li>
      </ul>
      <ul *ngSwitchCase="'user'">
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="home">Home</a></li>
        <li><a href="#">{{userName}}</a></li>
        <li><a routerLink="cart">Cart({{cartItem}})</a></li>     
        <li><a (click)="userLogOut()">Log Out</a></li>
      </ul>
      <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-home">Product List</a></li>
        <li><a routerLink="seller-add-product">Add-Product</a></li>
        <li><a (click)="logOut()">Log Out</a></li>
        <li><a href="#">{{sellerName   }}</a></li>
      </ul>
 </div>
  
</nav>