<div class="product-list">
  <h1> Product List</h1>

  <table>
    <thead>
        <tr>
            <th>
                image
            </th>
            <th> Product Name</th>
            <th>
                 Category
            </th>
            <th>
                Price
            </th>
           
            <th>
                color
            </th>
            <th>
                Description
            </th>
            <th>
Action
            </th>
        </tr>

    </thead>
    <tbody >
        <tr *ngFor="let ele of productList">
            <td>
                <img src="{{ele.productImage}}" alt="">
            </td>
             <td>
                {{ele.productName}}
             </td>
             <td>
                {{ele.productCategory}}
            </td>
            <td>{{ele.price}}</td>
            
            <td>
                 {{ele.productColor}}
            </td>
         
            <td>
                {{ele.productDescription}}
            </td>
            <td>
                <button (click)="deleteProduct(ele.id)"> Delete </button>
                <button (click)="updateProduct(ele.id)" style="margin-left: 5px;"> Edit </button>
            </td>
        </tr>
        
    </tbody>
  </table>
</div>